@model IEnumerable<Web42Shop.Models.Admin>
@{
    ViewData["Title"] = "Quản trị viên";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid overview">
    <div class="row">
        <div class="container-fluid">
            <p class="overview__title">Sản phẩm của K42Shop</p>
        </div>
    </div>
            <a asp-controller="Admin" asp-action="Create" class="overview__button overview__button--new"><i class="fas fa-plus"></i>Thêm quản trị viên</a>
        
    
    <table class="overview__table overview__table--admins">
        <tr>
            <th>Tài khoản</th>
            <th>Email</th>
            <th>Quyền</th>
            <th>Ngày tạo</th>
            <th>Ngày chỉnh sửa</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
        @foreach (var admin in Model)
        {
            String @a = "Nhân Viên";
            if (@admin.Role_Id == 1) @a = "Quản Lý";
            <tr>
                <td><a asp-action="Details" asp-route-id="@admin.Id">@admin.Username</a></td>
                <td>@admin.Email</td>
                <td>@a</td>
                <td>@admin.DateCreate</td>
                <td>@admin.DateModify</td>


                @*<td><a asp-action="Details" asp-route-id="@admin.Id" class="overview__button overview__button--new " ><i class="far fa-address-book"></i>Details</a> </td>*@
                <td>
                    <a asp-action="Edit" class="overview__button overview__button-- " asp-route-id="@admin.Id"><i class="fas fa-edit"></i>Edit</a>
                </td>
                <td><a asp-action="Delete" class="overview__button overview__button--delete" asp-route-id="@admin.Id"><i class="fas fa-trash-alt"></i>Delete</a></td>
            </tr>
        }
    </table>

    <div class="row">
        <div class="container txt-center w100">
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi pagi--active">1</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">2</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">3</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">4</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">5</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">6</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">7</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">8</a>
            <a asp-controller="Admin" asp-action="OrdersOverview" class="iblck pagi">9</a>
        </div>
    </div>
</div>



