@model Web42Shop.ViewModels.ProductNewViewModel
@{
    ViewData["Title"] = "Thêm sản phẩm mới";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid create">
    <a asp-action="ProductsOverview" asp-controller="Admin" class="overview__button overview__button"><i class="fas fa-backward"></i> Quay lại</a>
    <hr>
        <p class="create__title">Sản phẩm mới</p>
        
        <form asp-controller="Admin" asp-action="ProductNew" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Product.Name">Tên sản phẩm</label>
                <input asp-for="@Model.Product.Name" type="text" class="form-control" />
            </div>

            <div class="row">
                <div class="col form-group">
                    <label asp-for="@Model.Product.ProductType_Id">Loại sản phẩm</label>
                    <select asp-for="@Model.Product.ProductType_Id" class="form-control">
                        @foreach (var item in Model.ProductTypes)
                        {
                            <option value="@item.Id">
                                @item.Type
                            </option>
                        }
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="@Model.Product.ProductBrand_Id">Nhãn hàng</label>
                    <select asp-for="@Model.Product.ProductBrand_Id" class="form-control">
                        <option value="0">Chưa xác định nhãn hàng</option>
                        @foreach (var item in Model.ProductBrands)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="@Model.Product.BuyPoints">Điểm tích lũy khi mua sản phẩm</label>
                    <input type="text" asp-for="@Model.Product.BuyPoints" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label asp-for="@Model.Product.Price">Đơn giá</label>
                    <input asp-for="@Model.Product.Price" type="text" class="form-control" onchange="Caculate()"/>
                </div>
                <div class="col form-group">
                    <label asp-for="@Model.Product.Saleoff">Phần trăm giảm giá</label>
                    <input asp-for="@Model.Product.Saleoff" type="text" class="form-control" onchange="Caculate()"/>
                </div>
                <div class="col form-group">
                    <label for="SalePrice">Giá bán ra</label>
                    <input id="SalePrice" type="text" class="form-control" value="0" readonly />
                </div>
            </div>

            <div class="form-group">
                <textarea rows="10" cols="300" class="form-control" asp-for="@Model.Product.Description">Mô tả sản phẩm</textarea>
                <!-- Đổi textarea thành ckeditor -->
                <script src="~/lib/ckeditor/ckeditor.js"></script>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#Product_Description'))
                        .then(editor => {
                            window.editor = editor;
                        })
                        .catch(err => {
                            console.error(err.stack);
                        });
                </script>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="@Model.Thumbnail" type="file" class="custom-file-input form-control" />
                    <label class="custom-file-label" asp-for="@Model.Thumbnail">Ảnh sản phẩm</label>
                    <script>
                        // Hiển thị tên file đang được chọn
                        $(".custom-file-input").on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="button button--submit">Đăng bán</button>
            </div>
            
            <!-- Những thông tin giấu đi -->
            <div class="form-row">      
                <input type="hidden" asp-for="@Model.Product.Admin_Id"   value="@Model.Product.Admin_Id" readonly>          
                <input type="hidden" asp-for="@Model.Product.Slug_Id"    value="@Model.Product.Slug_Id" readonly>
                <input type="hidden" asp-for="@Model.Product.DateCreate" value="@DateTime.Now" readonly>
                <input type="hidden" asp-for="@Model.Product.DateModify" value="@DateTime.Now" readonly>
            </div>
        </form>
</div>

<script>
    function Caculate()
    {
        var price = parseInt(document.getElementById("Product_Price").value,10);
        var sale = parseInt(document.getElementById("Product_Saleoff").value,10);
        var sold = price - (price/100)*sale;
        document.getElementById("SalePrice").value = sold;
    }
</script>