@model IEnumerable<Web42Shop.Models.Product>
@{
    ViewData["Title"] = "Sản phẩm của K42Shop";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid overview">
    <div class="row">
        <div class="container-fluid">
            <a asp-controller="Admin" asp-action="ProductsOverview" class="overview__title overview__title--products overview__title--active">Sản phẩm</a>
            <a asp-controller="Admin" asp-action="ProductBrandsOverview" class="overview__title overview__title--brands">Nhãn hàng</a>
            <a asp-controller="ProductTyPes" asp-action="index" class="overview__title overview__title--types">Loại sản phẩm</a>
        </div>
    </div>
    <a asp-controller="Admin" asp-action="ProductsNew" class="overview__button overview__button--new"><i class="fas fa-plus"></i>Thêm sản phẩm</a>

    <table class="overview__table overview__table--products">
        <tr>

            <th>Tên</th>
            <th>Giá gốc</th>
            <th>Khuyến mãi</th>
            <th>Giá bán ra</th>
            <th>Số lượng <br />trong kho</th>
            <th><i class="fas fa-eye"></i></th>
            <th><i class="fas fa-shopping-cart"></i></th>
            <th>Xóa</th>
            <th>Sửa</th>
        </tr>

        @foreach (var item in Model)
        {
            Int32 @gia = @item.Price;
            Int32 @salse = Int32.Parse(@item.Saleoff.ToString());
            Int32 @tong = @item.Price - (@gia * @salse) / 100;

            <tr>

                <td><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Price</td>
                <td>@item.Saleoff</td>
                <td>@tong</td>
                <td>@item.Instore</td>
                <td>@item.Views</td>
                <td>@item.Orders</td>
                <td>
                    <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id" class="overview__button overview__button-- "><i class="fas fa-edit"></i>Edit</a>

                </td>
                <td><a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" class="overview__button overview__button--delete"><i class="fas fa-trash-alt"></i>Delete</a></td>
            </tr>

        }
    </table>

    <div class="row">
        <div class="container txt-center w100">
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi pagi--active">1</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">2</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">3</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">4</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">5</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">6</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">7</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">8</a>
            <a asp-controller="Admin" asp-action="ProductsOverview" class="iblck pagi">9</a>
        </div>
    </div>
</div>