@model Web42Shop.ViewModels.ProductsNewViewModel

@{
    ViewData["Title"] = "Thêm sản phẩm mới";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using Web42Shop.Controllers;
<div class="container-fluid create">
    <div class="container">
        <p class="create__title">Sản phẩm mới</p>
        <form asp-controller="Admin" asp-action="ProductsCreate" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Product.Name">Tên sản phẩm</label>
                <input asp-for="Product.Name" type="text" class="form-control" />
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <label asp-for="Product.ProductType_Id">Loại sản phẩm</label>
                    <select asp-for="Product.ProductType_Id" class="form-control">
                        @foreach (var item in Model.ProductTypes)
                        {
                            <option value="@item.Id">
                                @item.Type
                            </option>
                        }
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="Product.ProductBrand_Id">Nhãn hàng</label>
                    <select asp-for="Product.ProductBrand_Id" class="form-control">
                        @foreach (var item in Model.ProductBrands)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="Product.BuyPoints">Điểm tích lũy khi mua sản phẩm</label>
                    <input type="text" asp-for="Product.BuyPoints" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <label asp-for="Product.Price">Đơn giá</label>
                    <input asp-for="Product.Price" type="text" class="form-control" />
                </div>
                <div class="col form-group">
                    <label asp-for="Product.Saleoff">Phần trăm giảm giá</label>
                    <input asp-for="Product.Saleoff" type="text" class="form-control" />
                </div>
                <div class="col form-group">
                    <label for="SalePrice">Giá bán ra</label>
                    <input id="SalePrice" type="text" class="form-control" value="0" readonly />
                </div>
            </div>

            <div class="form-group">
                <textarea rows="10" cols="300" class="form-control" asp-for="Product.Description">Mô tả sản phẩm</textarea>
                <!-- Đổi textarea thành ckeditor -->

                <script src="~/js/ckeditor.js"></script>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#Product_Description'))
                        .then(editor => {
                            window.editor = editor;
                        })
                        .catch(err => {
                            console.error(err.stack);
                        });
                </script>
            </div>

            <div class="form-row">
                <div class="custom-file">
                    <input asp-for="Thumbnail" type="file" class="custom-file-input form-control" />
                    <label class="custom-file-label" asp-for="Thumbnail">Ảnh sản phẩm</label>
                    <script>
                        // Hiển thị tên file đang được chọn
                        $(".custom-file-input").on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        });
                    </script>
                </div>
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <button type="button" class="create__button create__button--preview">Xem thử</button>
                </div>
                <div class="col form-group">
                    <button type="submit" class="create__button create__button--release">Đăng bán</button>
                </div>
            </div>

            <!-- Những thông tin tự động điền vào -->
            <div class="form-row">
                <div class="form-group">
                    
                    <label asp-for="Product.Admin_Id">Admin_Id</label>
                    <input type="text" asp-for="Product.Admin_Id" value="@Model.Product.Admin_Id" readonly>

                </div>

                <div class="form-group">
                    <label asp-for="Product.Slug_Id">Slug_Id</label>
                    <input type="text" asp-for="Product.Slug_Id" value="@Model.Product.Slug_Id" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Stars">Stars</label>
                    <input type="text" asp-for="Product.Stars" value="5.0" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Views">Views</label>
                    <input type="text" asp-for="Product.Views" value="0" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Orders">Orders</label>
                    <input type="text" asp-for="Product.Orders" value="1" >
                </div>
                <div class="form-group">
                    <label asp-for="Product.DateCreate">DateCreate</label>
                    <input type="datetime" asp-for="Product.DateCreate" value="@DateTime.Now" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Product.DateModify">DateModify</label>
                    <input type="datetime" asp-for="Product.DateModify" value="@DateTime.Now" readonly>
                </div>
            </div>
        </form>
    </div>
</div>
