@model Web42Shop.ViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Users/_IndexLayout.cshtml";
}


<div class="container-fluid section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <br />
                <br />
                <form class="login_form" asp-controller="User" asp-action="Login" method="post">
                    <div class="form-group">
                        <label asp-for="@Model.Username">Email hoặc số điện thoại</label>
                        <input type="text" class="form-control" asp-for="@Model.Username">
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password">Mật khẩu</label>
                        <input type="password" class="form-control" asp-for="@Model.Password">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    
                    <br />
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="button button--submit" >Đăng nhập</button>
                        </div>
                        <div class="col">
                            <span>Chưa có tài khoản ?</span>
                            <a asp-controller="User" asp-action="Register">Đăng ký ngay</a> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

