@model Web42Shop.ViewModels.CartViewModel
@{ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/Users/_IndexLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div class="container-fluid section" id="CartItemContainer">
    <div class="container">
        <div class="row">
            <h1 class="section__title">Đơn hàng <i class="fas fa-shopping-cart"></i></h1>
        </div>

        <div class="row">
            <div class="col-7">
                <table class="table">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên hàng</th>
                        <th scope="col" class="clCenter">Số lượng</th>
                        <th scope="col" class="clCenter">Thành tiền</th>
                    </tr>
                    @{
                        string hau = "";
                        int stt = 0;
                        int totalePrice = 0;
                    }
                    @foreach (var item in Model.CartItemViewModels)
                    {
                        stt++;
                        hau += item.Name + " ";
                        <tr>
                            <th scope="row">@stt</th>
                            <td>@item.Name</td>
                            <td class="clCenter">@item.Quantity</td>
                            <td class="clCenter"> @String.Format("{0:0,0 VNĐ}", item.TotalPrice)</td>
                            
                        </tr>
                        totalePrice += item.TotalPrice;
                    }
                </table>
                @{Double @USD = totalePrice / 23000;}  
                <h2>Tổng cộng: @String.Format("{0:0,0 VNĐ}", totalePrice) </h2>
                <h2>~  @String.Format("{0:0,0 USD}", USD) </h2>
            </div>

            <div class="col-5">
                <a asp-controller="NganLuong" asp-action="Index"><button>THANH TOÁN VỚI NGÂN LƯỢNG</button></a>
                <script src="https://www.paypal.com/sdk/js?client-id=ASwEi_Epa3m8n3CWA3FwX8SZGOkGGrQGecHV0V9TwjoEDFyEjVkAAXmsxiZnacTFyPCs3OaAgKNyP7V4">
                    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
                </script>
                
                @*code javascript paypal*@
                <form method="post" action="@ViewBag.payPalConfig.PostUrl">
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="return" value="@ViewBag.payPalConfig.ReturnUrl" />
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="business" value="@ViewBag.payPalConfig.Business" />

                    @{
                        var index = 1;
                    }
                    @foreach (var item in Model.CartItemViewModels)
                    {
                        double Price = item.Price / 23000;
                        <input type="hidden" name="item_number_@index" value="@item.Id" />
                        <input type="hidden" name="item_name_@index" value="@item.Name" />
                        <input type="hidden" name="amount_@index" value="@Price" />
                        <input type="hidden" name="quantity_@index" value="@item.Quantity" />
                        index++;
                    }
                    <button type="submit">Paypal</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
