@model IEnumerable<Web42Shop.ViewModels.CartItemViewModel>

<div class="container">
    <h1 class="section__title">
        Giỏ hàng <i class="fas fa-shopping-cart"></i>
    </h1>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên hàng</th>
                <th scope="col" class="clCenter">Số lượng</th>
                <th scope="col" class="clCenter">Thành tiền</th>
                <th scope="col" class="clCenter">Hủy sản phẩm</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
                int totalePrice = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@stt</th>
                    <td>@item.Name</td>
                    <td class="clCenter"><a onclick="minusItem(@item.Id)" class="CartEdit"><i class="fas fa-minus"></i></a>@item.Quantity<a onclick="plusItem(@item.Id)" class="CartEdit"><i class="fas fa-plus"></i></a></td>
                    <td class="clCenter">@item.TotalPrice</td>
                    <td class="clCenter">
                        <!--<p onclick="deleteItem(@item.Id)" class="point btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i></p>-->
                        <p onclick="deleteItem(@item.Id)" class="point btn btn-secondary btn-sm"><i class="fas fa-times"></i></p>
                    </td>
                </tr>
                totalePrice += item.TotalPrice;
                stt++;
            }
        </tbody>
    </table>
    @if (Context.Session.GetInt32("IdTaiKhoan") == null)
    {
        if (Context.Session.GetInt32("IdCart") != null)
        {
            int anocart_id = (int)Context.Session.GetInt32("IdCart");
            <a asp-controller="Checkout" asp-action="MustSignUp" class="button button--gotocheckout" asp-route-anocartid="@anocart_id">THANH TOÁN</a>
        }
    }
    else
    {
        int userid = (int)Context.Session.GetInt32("IdTaiKhoan");
        <a asp-controller="Checkout" asp-action="AlreadySignUp" class="button button--gotocheckout" asp-route-userid="@userid">THANH TOÁN</a>
    }
</div>
