@model Web42Shop.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBrand.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saleoff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saleoff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModify)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="overview__button overview__button--new "><i class="fas fa-edit"></i>Edit</a> 
    <a asp-action="ProductsOverview" asp-controller="Admin" class="overview__button overview__button"><i class="fas fa-backward"></i>Back to List</a>
</div>
