@model Web42Shop.ViewModels.HomeProductsViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Users/_IndexLayout.cshtml";
    ViewBag.SearchFlag = "Sản phẩm mới";

}


<div class="container-fluid section">
    <!-- Sản phẩm mới -->
    <div class="container">
        <h1 class="section__title">Kết quả tìm kiếm: </h1><h3 class="iblck" style="margin-left: 1rem">Tất cả các sản phẩm </h3>
        <!--
            <div class="row">
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck fl product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/macbook.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Macbook 2019</p>
                    <p class="mrg0 product__oldprice">35,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">17,500,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/dell.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop Dell</p>
                    <p class="mrg0 product__oldprice">30,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">15,000,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/asus.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop ASUS</p>
                    <p class="mrg0 product__oldprice">21,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">15,500,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/sony.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop SONY VAIO</p>
                    <p class="mrg0 product__oldprice">13,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">6,500,000 VNĐ</p>
                </div>
            </a>
        </div><!--- end of row -->
        <!--
        <div class="row">
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/macbook.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Macbook 2019</p>
                    <p class="mrg0 product__oldprice">35,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">17,500,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/dell.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop Dell</p>
                    <p class="mrg0 product__oldprice">30,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">15,000,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/asus.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop ASUS</p>
                    <p class="mrg0 product__oldprice">21,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">15,500,000 VNĐ</p>
                </div>
            </a>
            <a href="#" class="col-3 product">
                <p class="mrg0 iblck product__saleoff">-50%</p>
                <p class="mrg0 iblck fr product__views">
                    <i class="fas fa-heart"></i> 4.8
                    <i class="fas fa-eye"></i> 1998
                    <i class="fas fa-shopping-cart"></i> 1011
                </p>
                <img src="~/images/sony.jpg" class="product__image" />
                <div class="product__info">
                    <p class="mrg0 product__name">Laptop SONY VAIO</p>
                    <p class="mrg0 product__oldprice">13,000,000 VNĐ</p>
                    <p class="mrg0 product__newprice">6,500,000 VNĐ</p>
                </div>
            </a>
        </div><!--- end of row -->
        @Model.Count
        @{
            int dem = 1;
        }
        @foreach(var item in Model.ItemProducts)
        {   
            if (dem == 1) {
                @:<div class="row">
            }
                <a href="#" class="col-3 product">
                    <p class="mrg0 iblck fl product__saleoff">-@item.Saleoff%</p>
                    <p class="mrg0 iblck fr product__views">
                        <i class="fas fa-heart"></i> @item.Stars
                        <i class="fas fa-eye"></i> @item.Views
                        <i class="fas fa-shopping-cart"></i> @item.Orders
                    </p>
                    <img src="~/images/Products/@item.Thumbnail" class="product__image" />
                    <div class="product__info">
                        <p class="mrg0 product__name">@item.Name</p>
                        <p class="mrg0 product__oldprice">@String.Format("{0:0,0 VNĐ}",item.Price) </p>
                        <p class="mrg0 product__newprice">@String.Format("{0:0,0 VNĐ}", item.Price - item.Price*item.Saleoff/100)</p>
                    </div>
                </a>

            if (dem == 4){
                dem = 0;
                @:</div>
            }
            dem++;
        }
        <!-- Section pagination -->
        <!--<div class="container txt-center section__pagination">
            <a href="#" class="paginumber paginumber--first"><i class="fas fa-caret-left"></i></a>
            <a href="#" class="paginumber paginumber--active">1</a>
            <a href="#" class="paginumber">2</a>
            <a href="#" class="paginumber">3</a>
            <a href="#" class="paginumber">4</a>
            <a href="#" class="paginumber">5</a>
            <a href="#" class="paginumber">6</a>
            <a href="#" class="paginumber">7</a>
            <a href="#" class="paginumber">8</a>
            <a href="#" class="paginumber">9</a>
            <a href="#" class="paginumber">10</a>
            <a href="#" class="paginumber paginumber--last"><i class="fas fa-caret-right"></i></a>
        </div><!-- end of  Section pagination-->
    </div>
</div><!-- end of section Sản phẩm mới -->
